@tailwind base;
@tailwind components;
@tailwind utilities;

.ficon {
    background-image:url('./images/bg.png');
    background-repeat: object-cover;
    background-size:contain
  }
.ficonlayer {
    background-image:url('./images/layer.png');
    background-repeat: object-cover;
    background-size:contain
  }
  
  