@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@arcgis/core/assets/esri/themes/light/main.css";


.ficon {
    background-image:url('./images/bg.png');
    background-repeat: object-cover;
    background-size:contain
  }
.ficonlayer {
    background-image:url('./images/layer.png');
    background-repeat: object-cover;
    background-size:contain
  }
.ficon3 {
    background-image:url('./images/details.png');
    background-repeat: object-cover;
    background-size:contain
  }
.right1 {
    background-image:url('./images/right.png');
    background-repeat: object-cover;
    /* background-size:contain */
  }
.left1 {
    background-image:url('./images/left.png');
    background-repeat: object-cover;
    /* background-size:contain */
  }
  
  